In [13]:
import pandas as pd

# Data Cleaning and Merging

In [ ]:
# Define the base path and file paths (adjust if necessary)
file1 = "Stock_Trading.csv"
file2 = "Financial_Statements.csv"
file3 = "Financial_Indicators.csv"

In [19]:
# Read and clean data from 1.csv
data_1 = pd.read_csv(file1)
data_1['Trading Month'] = pd.to_datetime(data_1['Trading Month'])
data_1.head()

,Stock Code,Trading Month,Monthly Closing Price,Market Value of Tradable Shares,Monthly Return Without Cash Dividend Reinvested,Statistics Date,Ending Date of Statistics,Statement Type,Total Assets,Total Liabilities,Stock Short Name,R&D Expenses,Return on Total Assets - A,Return on Equity - A,EPS,Net Assets per Share
0,1,2000-01-01,18.53,19843822.88,0.061891,12/31/1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2000-02-01,18.32,19618933.36,-0.011333,12/31/1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2000-03-01,18.37,19672478.48,0.002729,12/31/1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2000-04-01,19.05,20400692.17,0.037017,3/31/2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2000-05-01,18.00,19276244.57,-0.055118,3/31/2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Read and clean data from 2.csv
data_2 = pd.read_csv(file2)
data_2 = data_2[data_2['Statement Type'] != 'B']
data_2['Ending Date of Statistics'] = pd.to_datetime(data_2['Ending Date of Statistics'])
data_2.sort_values(by=['Stock Code', 'Ending Date of Statistics'], inplace=True)
data_2 = data_2[data_2['Ending Date of Statistics'].dt.month != 1]
data_2.head()

,Stock Code,Ending Date of Statistics,Statement Type,Total Assets,Total Liabilities,Stock Short Name,R&D Expenses,Return on Total Assets - A,Return on Equity - A,Earnings per Share - TTM1,Net Assets per Share
0,1,2000-06-30,A,4.973234e+10,4.665382e+10,SFZA,NaN,0.004036,0.057805,0.317187,1.983773
1,1,2000-12-31,A,6.722750e+10,6.248862e+10,SFZA,NaN,0.008133,0.106893,0.260328,2.435415
2,1,2001-06-30,A,8.518143e+10,8.021960e+10,SFZA,NaN,0.003104,0.044986,0.283587,2.549989
3,1,2001-12-31,A,1.201270e+11,1.164990e+11,SFZA,NaN,0.004653,0.110914,0.206782,1.864337
4,1,2002-03-31,A,1.106890e+11,1.068770e+11,SFZA,NaN,0.002039,0.048257,NaN,1.959026

In [16]:
# Create the "Statistics Date" column in data_1 based on "Trading Month"
def get_statistics_date(trdmnt):
    if trdmnt.month in [1, 2, 3]:
        return pd.to_datetime(f"{trdmnt.year - 1}-12-31")
    elif trdmnt.month in [4, 5, 6]:
        return pd.to_datetime(f"{trdmnt.year}-03-31")
    elif trdmnt.month in [7, 8, 9]:
        return pd.to_datetime(f"{trdmnt.year}-06-30")
    elif trdmnt.month in [10, 11, 12]:
        return pd.to_datetime(f"{trdmnt.year}-09-30")
    else:
        return pd.NaT
data_1['Statistics Date'] = data_1['Trading Month'].apply(get_statistics_date)

# Merge data_1 and data_2 based on "Stock Code" and corresponding date columns
merged_data = pd.merge(
    data_1,
    data_2,
    left_on=['Stock Code', 'Statistics Date'],
    right_on=['Stock Code', 'Ending Date of Statistics'],
    how='left'
)

merged_data.head()

,Stock Code,Trading Month,Monthly Closing Price,Market Value of Tradable Shares,Monthly Return Without Cash Dividend Reinvested,Statistics Date,Ending Date of Statistics_x,Statement Type_x,Total Assets_x,Total Liabilities_x,...,Ending Date of Statistics_y,Statement Type_y,Total Assets_y,Total Liabilities_y,Stock Short Name_y,R&D Expenses_y,Return on Total Assets - A,Return on Equity - A_y,Earnings per Share - TTM1,Net Assets per Share_y
0,1,2000-01-01,18.53,19843822.88,0.061891,1999-12-31,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2000-02-01,18.32,19618933.36,-0.011333,1999-12-31,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2000-03-01,18.37,19672478.48,0.002729,1999-12-31,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2000-04-01,19.05,20400692.17,0.037017,2000-03-31,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2000-05-01,18.00,19276244.57,-0.055118,2000-03-31,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Indicator Calculations

In [20]:
# Calculate P/E ratios and P/B ratios for the merged data
merged_data['P/E ratios'] = merged_data['Monthly Closing Price'] / merged_data[' Earnings per Share - TTM1']
merged_data['P/B ratios'] = merged_data['Monthly Closing Price'] / merged_data['Net Assets per Share_x']

# Calculate the R&D expense/total asset ratio in data_2
data_2["R&D expense/total asset ratios"] = data_2[' R&D Expenses'] / data_2['Total Assets']

# Read 3.csv to get firm establishment information
data_3 = pd.read_csv(file3)
data_3['Estbdt'] = pd.to_datetime(data_3['Estbdt'])
data_3_subset = data_3[['Stkcd', 'Estbdt', 'Markettype']]

# Merge data_2 with firm information from data_3 to compute firm ages
merged_firms = pd.merge(
    data_2,
    data_3_subset,
    left_on='Stock Code',
    right_on='Stkcd',
    how='left'
)

# Calculate firm ages in years (using the difference in days divided by 365)
merged_firms['firm ages'] = (merged_firms['Ending Date of Statistics'] - merged_firms['Estbdt']).dt.days / 365

# Display sample results from indicator calculations
print("\nModule 2: Indicator Calculations Completed.")
print("Sample of merged data with P/E and P/B ratios:")
print(merged_data[['Stock Code', 'Trading Month', 'P/E ratios', 'P/B ratios']].head())

print("\nSample of R&D expense/total asset ratios from data_2:")
print(data_2[['Stock Code', 'Ending Date of Statistics', "R&D expense/total asset ratios"]].head())

print("\nSample of firm age calculations:")
print(merged_firms[['Stock Code', 'Ending Date of Statistics', 'Estbdt', 'firm ages', 'Markettype']].head())

Module 2: Indicator Calculations Completed.
Sample of merged data with P/E and P/B ratios:
   Stock Code Trading Month  P/E ratios  P/B ratios
0           1    2000-01-01         NaN         NaN
1           1    2000-02-01         NaN         NaN
2           1    2000-03-01         NaN         NaN
3           1    2000-04-01         NaN         NaN
4           1    2000-05-01         NaN         NaN

Sample of R&D expense/total asset ratios from data_2:
   Stock Code Ending Date of Statistics  R&D expense/total asset ratios
0           1                2000-06-30                             NaN
1           1                2000-12-31                             NaN
2           1                2001-06-30                             NaN
3           1                2001-12-31                             NaN
4           1                2002-03-31                             NaN

Sample of firm age calculations:
   Stock Code Ending Date of Statistics Estbdt  firm ages  Markettype
0           1                2000-06-30    NaT        NaN         NaN
1           1                2000-12-31    NaT        NaN         NaN
2           1                2001-06-30    NaT        NaN         NaN
3           1                2001-12-31    NaT        NaN         NaN
4           1                2002-03-31    NaT        NaN         NaN

# Descriptive Statistics

In [21]:
print("\nModule 3: Descriptive Statistics Output:")

# Monthly return descriptive statistics
print("\nDescriptive Statistics - Monthly Return Without Cash Dividend Reinvested:")
print(merged_data['Monthly Return Without Cash Dividend Reinvested'].describe())

# P/E ratios descriptive statistics
print("\nDescriptive Statistics - P/E ratios:")
print(merged_data['P/E ratios'].describe())

# P/B ratios descriptive statistics
print("\nDescriptive Statistics - P/B ratios:")
print(merged_data['P/B ratios'].describe())

# Profitability measures descriptive statistics from data_2
print("\nDescriptive Statistics - Return on Total Assets - A:")
print(data_2['Return on Total Assets - A'].describe())

print("\nDescriptive Statistics - Return on Equity - A:")
print(data_2['Return on Equity - A'].describe())

# R&D expense ratio descriptive statistics
print("\nDescriptive Statistics - R&D expense/total asset ratios:")
print(data_2["R&D expense/total asset ratios"].describe())

# Descriptive statistics for firm ages grouped by market type.
# Main Board Firms (Markettype: 1, 4, 64)
main_board = merged_firms[merged_firms['Markettype'].isin([1, 4, 64])]
# GEM Firms (Markettype: 16, 32)
gem_board = merged_firms[merged_firms['Markettype'].isin([16, 32])]

print("\nDescriptive Statistics - Main Board Firms (firm ages):")
print(main_board['firm ages'].describe())

print("\nDescriptive Statistics - GEM Firms (firm ages):")
print(gem_board['firm ages'].describe())

Module 3: Descriptive Statistics Output:

Descriptive Statistics - Monthly Return Without Cash Dividend Reinvested:
count    704259.000000
mean          0.012504
std           0.162180
min          -0.891827
25%          -0.070212
50%          -0.000984
75%           0.075704
max          22.052632
Name: Monthly Return Without Cash Dividend Reinvested, dtype: float64

Descriptive Statistics - P/E ratios:
count    6.552340e+05
mean     4.988843e+01
std      7.105625e+03
min     -1.288000e+06
25%      1.228714e+01
50%      2.897851e+01
75%      5.791295e+01
max      2.087500e+06
Name: P/E ratios, dtype: float64

Descriptive Statistics - P/B ratios:
count    6.853910e+05
mean              inf
std               NaN
min     -2.825000e+05
25%      1.623387e+00
50%      2.631866e+00
75%      4.314296e+00
max               inf
Name: P/B ratios, dtype: float64

Descriptive Statistics - Return on Total Assets - A:
count    242890.000000
mean          0.131537
std          51.396547
min       -2095.053398
25%           0.009191
50%           0.025956
75%           0.052706
max       25222.734510
Name: Return on Total Assets - A, dtype: float64

Descriptive Statistics - Return on Equity - A:
count    239461.000000
mean          0.034117
std           3.443750
min        -274.048091
25%           0.009824
50%           0.034069
75%           0.072915
max         713.203598
Name: Return on Equity - A, dtype: float64

Descriptive Statistics - R&D expense/total asset ratios:
count    85014.000000
mean         0.015584
std          0.021248
min         -0.002272
25%          0.003905
50%          0.010303
75%          0.020819
max          2.695974
Name: R&D expense/total asset ratios, dtype: float64

Descriptive Statistics - Main Board Firms (firm ages):
count    114890.000000
mean         16.401313
std           6.710663
min           0.082192
25%          11.597260
50%          16.295890
75%          20.906849
max          65.789041
Name: firm ages, dtype: float64

Descriptive Statistics - GEM Firms (firm ages):
count    40574.000000
mean        16.669585
std          5.474691
min          1.208219
25%         12.775342
50%         16.453425
75%         20.161644
max         42.569863
Name: firm ages, dtype: float64